# developer-specific files
Decisions.md 
Doubts.md 
TODO.md

# db files 
src/db/ 
src/rest/mydatabase

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# cache files 
.eslintcache

# test files
test/